
@{
    ViewData["Title"] = "Dashboard";
}
@model List<Character>;
<h2>Dashboard</h2>
<ul>
    @foreach(var character in Model) {
    <div>
        @Html.ActionLink(@character.name + "-" + @character.charClass + " " + @character.level, "Index", new { @character.id })
    </div>
    }
</ul>