@{
    ViewData["Title"] = "Login";
}

@section Styles {
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
}

@model LoginViewModel;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login Page</title>
</head>
<body>

    <h3>Login</h3>
    @ViewBag.error
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <table border="0" cellpadding="5" cellspacing="5">
        <tr>
            <td>Username:</td>
            <td>@Html.TextBox("username")</td>
        </tr>

        <tr>
            <td>Password:</td>
            <td>@Html.Password("hashPass")</td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="Login"></td>
        </tr>
    </table>

    <div class="create-acc-div">

        <p>Welcome to the Dungeons and Dragons Companion App!</p>
        <p>Please Login if you already have an account, otherwise please <a asp-area="" asp-controller="Home" asp-action="CreateAccount">Sign Up</a>.</p>
    </div>

    <div class="char-div-picture">
        <img src="~/images/dndlogo.jpg" />
    </div>
}
</body>
</html>